<div class="header">

    <li class="header--item" ><fa-icon style="color:white" [icon]="faArrowLeft"></fa-icon></li> 

    <li class="header--item" ><fa-icon style="color:white" [icon]="faArrowRight"></fa-icon></li> 

    <li class="header--item" ><fa-icon style="color:white" [icon]="faTimes"></fa-icon></li> 

    <li class="header--item" ><fa-icon style="color:white" [icon]="faHome"></fa-icon></li> 

    <input readonly class="divider"/> 
    <div class="search-container">
    <input type="text" name="search" class="margin-input"><fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
</div>
</div>
