legend{
    width:inherit;
    border-bottom: none;
}

fieldset{
    height:16rem;
    word-wrap: break-word;
    overflow: hidden;
    padding:2rem;
    display: flex;
    justify-content: center;
}

.add-new{
    position: absolute;
    font-size: 7rem;
}
